<section class="m-4">
    <h1 class="my-5">Agregar Producto</h1>
    <form onsubmit="return addProduct(this)">
         <div class="row g-3">
        <div class="col">
            <input type="text" name="product" class="form-control" placeholder="Producto" aria-label="First name" id="product" required="true">
        </div>
        <div class="col">
            <input type="text" name="value" class="form-control" placeholder="Precio" aria-label="Valor" id="value" required="true">
        </div>
        <div class="col">
            <input type="text" name="urlImg" class="form-control" placeholder="Url Imagen" aria-label="urlImg" id="urlImg">
        </div>
        <div class="col">
            <input type="submit" value="Agregar" id="submit"></input>
        </div>
        </div>
    </form>
    {{!-- <a class="btn btn-primary mt-5" href="./test" role="button">Ir a Productos</a> --}}
</section>

{{> productos}}

{{> chat}}
