<section>
    <form onsubmit="return sendMessage(this)">
        <input type="text" placeholder="Nombre" id="name">
        <input type="text" placeholder="Mensaje" id="message">
        <input type="submit"></input>
    </form>
    <div id="messages"></div>
</section>