<section class="m-4">
    <h1 class="my-5 text-center">Cart List</h1>
    <section class="m-4">
        {{#if cartExists}}
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col" class="px-5">N°</th>
                            <th scope="col" class="px-5">ID</th>
                        </tr>
                    </thead>
                    <tbody id="carts">
                    </tbody>
                </table>
            {{else}}
                <div class="alert alert-danger" role="alert">
                    <p>No se encontraron carritos</p>
                </div>
            {{/if}}
    </section>
    {{!-- <a class="btn btn-primary mt-5" href="./test" role="button">Ir a Productos</a> --}}
</section>
