<section class="mt-5">
    <h1 class="text-center my-5">PAGE NOT FOUND</h1>
    {{!-- <h2 class="text-center">ERROR 404</h2> --}}
    <img class="mx-auto d-block" src="https://icons.veryicon.com/png/o/internet--web/web-browsers/browser-404.png" alt="404">
</section>